.container {
  padding: 30px 60px;
   font-family: verdana;
}

.squealer{
	font-family:squealer;	
	font-size: 300%;
	
}



.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%); /* make all photos black and white */ 
  width: 100%; /* Set width to 100% */
}

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

.navbar-brand{
	
	font-family:squealer;	
}