body { 
    background:url:('acdcback.jpg);
    }
  
  
  p {
  text-align:center;
  color:red;
  border:1px solid black;  
  }
  
  #menu li {
  display:inline;
  text-align:center
  font-size:25px;
  }
  
  
