
      
    body { 
        background: url('metalbackdrop1.jpg');  
 background-repeat: no-repeat;
 background-position: center;
background-size: cover;
background-attachment: fixed;
      
             } 
          p { 
       text-align: center;     
     color:white; 
     font-size:33px;  
           
     } 
           #menu li{ 
        
           
          display: inline; 
 color:orange;   
     text-align: center; 
       font-size:22px; 
           
       } 
     #menu { 
          
       margin:0; 
       padding:0; 
       overflow:hidden;
      background-color: #CCCCCC; 
    word-spacing: 22px; 
           font-size:26px;
     font-color:orange;   
    } 
      
  #youtube { 
   text-align:center; 

  } 

#logo ul {

   text-align:center; 
 display: inline;
 border: 1px solid black; 
} 

